// Place all the styles related to the Mirrors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

.container {

}

$mirror-size: 70%;
.mirror {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: $mirror-size;
  padding-bottom: $mirror-size;
  border-radius: 50%;
  border: 6px dotted $white;
}

.rotable-container {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  pointer-events: none;
}

.rotable-text {
  margin: 0px auto;
  font-size: 36px;
  text-align: center;
}

// Clock hand and members
.smooth-animate {
  transition: 3s;
  @include transition-timing-function(cubic-bezier(.22, .35, .28, .96));
}

$clock-hand-width: 5px;
$clock-hand-height: 35%;
.clock-hand {
  position: absolute;
  margin-left: -($clock-hand-width / 2);
  left: 50%;
  top: 50% - $clock-hand-height;
  width: $clock-hand-width;
  height: $clock-hand-height;
  border-radius: $clock-hand-width / 2;
  background: $white;
  transform-origin: bottom;
  @extend .smooth-animate;
}

$clock-member-height: 10%;
$clock-member-top: -$clock-member-height;
$clock-member-width: 30%;
.clock-member {
  position: absolute;
  margin-left: -($clock-member-width / 2);
  left: 50%;
  top: $clock-member-top;
  height: $clock-member-height;
  width: $clock-member-width;
  background-color: red;
  transform-origin: center 600%;
  @extend .smooth-animate;

}
