// Place all the styles related to the Mirrors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

.container {

}

$mirror-size: 70%;
.mirror {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: $mirror-size;
  padding-bottom: $mirror-size;
  border-radius: 50%;
  border: 6px dotted $white;
}

.rotable-container {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  pointer-events: none;
}

.rotable-text {
  margin: 0px auto;
  font-size: 36px;
  text-align: center;
}

// Clock hand
.clock-hand {
  position: absolute;
  margin-left: -2.5px;
  left: 50%;
  top: 15%;
  width: 5px;
  height: 35%;
  border-radius: 2.5px;
  background: $white;
  transform-origin: bottom;
  transition: 3s;
  @include transition-timing-function(cubic-bezier(.22, .35, .28, .96));
}

.clock-member {
  position: absolute;
  margin-left: -100px;
  left: 50%;
  top: -10%;
  height: 10%;
  width: 200px;
  background-color: red;
  transform-origin: center 600%;
  transition: 3s;
  @include transition-timing-function(cubic-bezier(.22, .35, .28, .96));
}
